* {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}

.header {
    background: #011827;
    height: 144px;
}

.header__DivLogoAndCompanyName {
    display: flex;
    flex-direction: row;
}

.header__DivLogoAndCompanyName__logo {
    width: 128px;
    height: 82px;
    margin-top: 26px;
    margin-left: 27px;
}

.header__DivLogoAndCompanyName__companyName {
    width: 78px;
    height: 84px;
    margin-top: 25px;
    margin-left: 13px;
}

.header__DivLogoAndCompanyName__companyName__h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    color: white;
}

.header__topNavigtion {
    display: none;
}

.main__heroImageSection {
    height: 274px;
    background: url(Images/main__heroImage.png);
    background-size: cover;
}

.main__ctaButtonSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 37px;
}

.ctaButtonSection__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 308px;
    height: 66px;
    background-color: #8ACFE5;
    border: 0;
    border-radius: 4px;
}

.ctaButtonSection__button__h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
}

.ctaButtonSection__button.ctaButtonSection__onlineButton {
    background-color: white;
}

.ctaButtonSection__onlineButton__h3 {
    font-size: 16px;
    color: #36769D;
    font-weight: 700;
    text-decoration: underline;
}

.main__referenceSection {
    margin-top: 51px;
    margin-bottom: 55px; 
}

.main__referenceSection__div {
    display: flex;
    flex-direction: row;
    width: 439px;
    height: 139px;
    margin-left: 21px;
    margin-right: 21px;
}

.main__reference__div__portrait {
    width: 73.34px;
    height: 72px;
    border-radius: 50px;
}

.main__referenceSection__div__text {
    width: 343.26px;
    margin-left: 22.4px;
}

.main__referenceSection__div__text__h3 {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 28.13px;
}

.main__referenceSection__div__text__p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    margin-top: 5px;
}

.main__referenceSection__div.secondReference {
    display: none;
}


/*next section should have top margin of 50px*/

@media (min-width: 1200px) {
    .main__heroImageDiv {
        height: 468px;
    }
}