* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

/*---------- Header section ----------*/

.header {
    background: #011827;
    height: 144px;
}

.header__DivLogoAndCompanyName {
    display: flex;
    flex-direction: row;
}

.header__DivLogoAndCompanyName__logo {
    width: 128px;
    height: 82px;
    margin-top: 26px;
    margin-left: 27px;
}

.header__DivLogoAndCompanyName__companyName {
    width: 78px;
    height: 84px;
    margin-top: 25px;
    margin-left: 13px;
}

.header__DivLogoAndCompanyName__companyName__h1 {
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.header__topNavigtion {
    display: none;
}

/*---------- Hero section ----------*/

.main__heroImageSection {
    height: 274px;
    background: url(Images/main__heroImage.png);
    background-size: cover;
}

/*---------- CTA button section ----------*/

.main__ctaButtonSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 37px;
}

.main__ctaButtonSection__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 308px;
    height: 66px;
    background-color: #8ACFE5;
    border: 0;
    border-radius: 4px;
}

.main__ctaButtonSection__button__h3 {
    font-size: 24px;
    font-weight: 700;
}

.main__ctaButtonSection__button.main__ctaButtonSection__onlineButton {
    background-color: white;
}

.main__ctaButtonSection__onlineButton__h3 {
    font-size: 16px;
    color: #36769D;
    font-weight: 700;
    text-decoration: underline;
}

/*---------- Reference section ----------*/

.main__referenceSection {
    display: flex;
    justify-content: center;
    margin-top: 51px;
    margin-bottom: 105px; 
}

.main__referenceSection__div {
    display: flex;
    flex-direction: row;
    height: 139px;
    margin: 0px 21px;
}

.main__reference__div__portrait {
    width: 73px;
    height: 72px;
    border-radius: 50px;
}

.main__referenceSection__div__text {
    margin-left: 22px;
}

.main__referenceSection__div__text__h3 {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}

.main__referenceSection__div__text__p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

.main__referenceSection__div.secondReference {
    display: none;
}

/*---------- Recommended challenges section ----------*/

.main__recommendedChallenges {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__recommendedChallanges__h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 44px;
}

.main__recommendedChallenges__slider {
    display: flex;
    width: 100%;
    height: 460px;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
    gap: 30px;
}

.main__recommendedChallenges__slider::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.main__recommendedChallenges__slider___card {
    height: 446px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.1);
}

.main__recommendedChallenges__slider___card.main__recommendedChallenges__slider___card__cardOne {
    margin-left: 52px; 
}

.main__recommendedChallenges__slider___card.main__recommendedChallenges__slider___card__cardThree {
    margin-right: 52px; 
}

.main__recommendedChallenges__slider__card__heroImage {
    height: 219px;
}

.main__recommendedChallenges__slider__card__bottom {
    padding: 12px 17px; 
}

.main__recommendedChallenges__slider__card__bottom__h3 {
    font-size: 28px;
    font-weight: 400;
}

.main__recommendedChallenges__slider__card__bottom__rating {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 23px;
}

.main__recommendedChallenges__slider__card__bottom__rating__star {
    width: 15px;
    height: 15px;
    margin-right: 9px;
}

.main__recommendedChallenges__slider__card__bottom__rating__participants {
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
}

.main__recommendedChallenges__slider__card__bottom__rating__description {
    width: 328px;
    height: 80px;
    font-size: 18px;
    font-weight: 400;
}

.main__recommendedChallenges__slider__card__bottom__buttonBox {
    display: flex;
    flex-direction: row-reverse;
}

.main__recommendedChallenges__slider__card__bottom__buttonBox__bookingButton {
    width: 179px;
    height: 44px;
    background-color: #E3170A;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

/*---------- Story section ----------*/

.main__story {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #011827;
    margin-top: 35px;
}

.main__story__h3 {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    color: white;
    margin: 95px 21px 0px 21px;  
}

.main__story__button {
    width: 308px;
    height: 66px;
    background: #011827;
    border: 2px solid #8ACFE5;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 700;
    color: #8ACFE5;
    margin-top: 60px;
}

/*---------- Features section ----------*/

.main__features__div__imgOne {
    height: 300px;
    background: url(Images/main__features__div__imgOne.png);
    background-size: cover;
}

.main__features__div__imgTwo {
    height: 300px;
    background: url(Images/main__features__div__imgTwo.png);
    background-size: cover;
}

.main__features__div__description {
    height: 340px;
    margin: 30px 20px;
}

.main__features__div__description.descriptionBoxTwo {
    height: 400px;
}

.main__features__div__description__h2 {
    font-size: 32px;
    font-weight: 700;
}

.main__features__div__description__p {
    font-size: 24px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 50px;
}

.main__features__div__description__button {
    width: 308px;
    height: 66px;
    background: #E3170A;
    font-size: 24px;
    font-weight: 700;
    color:white;
    border-radius: 4px;
    border: none;
}

@media (min-width: 1200px) {
    .main__heroImageDiv {
        height: 468px;
    }
}