.footer {
    display:flex;
    background: #011827;

    &__footerDiv {
        margin: 25px 22px 65px 22px;
    }
    
    &__siteMap,
    &__socialMediaLinks {
        display: flex;
        flex-direction: column;
    }
    
    &__link, 
    &__h4, 
    &__p {
        color: white;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
    }
    
    &__h4 {
        margin: 40px 0px 7px;
        font-weight: 700;
    }
    
    &__link {
        &.footer__linkBreak {
            margin-top: 18px;
        }
    }
}