.header {
    background: #011827;

    &__divLogoAndCompanyName {
        display: flex;
        flex-direction: row;
        height: 144px;
    }
    
    &__logo {
        width: 128px;
        height: 82px;
        margin-top: 26px;
        margin-left: 27px;
    }
    
    &__companyName {
        width: 78px;
        height: 84px;
        margin-top: 25px;
        margin-left: 13px;
        font-weight: 700;
        font-size: 24px;
        color: white;

        @include breakpoint($small) {
            width: auto;
            display: flex;
            align-items: flex-end;
            font-size: 40px;
        }
    }

    &__topNavigtion {
        display: none;
        height: 72px;

        @include breakpoint($small) {
            display: flex;
            margin: auto;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 60px;
        } 

        @include breakpoint($medium) {
            gap: 100px;
        }

        @include breakpoint($large) {
            gap: 116px;
        }
    }

    &__link {
        font-size: 24px;
        font-weight: 700;
        color: white;
        text-decoration: none;

        &:hover {
            color: #8ACFE5;
        }
    }

    &__hamburgerMenuContainer {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        min-height: 100%;
        top: 0;
        background-color: rgba(255, 255, 255, 0);
        opacity: 0;
        visibility: hidden; 
        transition: background-color 0.5s, opacity 0.5s, visibility 0.5s;

        &.header__hamburgerMenuContainer--open {
            opacity: 1;
            visibility: visible;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    &__hamburgerButtonOpen {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;

        @include breakpoint($small) {
            display: none;
        }
    }

    &__hamburgerMenu {
        position: fixed;
        display: flex;
        top: 23px;
        left: 20px;
        bottom: 23px;
        right: 20px;
        background-color: #011827;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
        opacity: 0;
        transform: scale(0.8);
        transition: opacity 0.2s ease 0.1s, transform 0.2s ease 0.1s;

        &.header__hamburgerMenu--active {
            opacity: 1; 
            transform: scale(1);
        }
    }

    &__hamburgerLink {
        font-size: 36px;
        font-weight: 700;
        color: white;
        text-decoration: none;
    }

    &__hamburgerCloseButton {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
}

.heroImageSection {
    height: 274px;
    background: url(Images/heroImageSection__heroImage.png);
    background-size: cover;
    background-position: center;

    @include breakpoint($small) {
        height: 360px;
    }

    @include breakpoint($medium) {
        height: 468px;
    }

    @include breakpoint(1300px) {
        height: 548px;
    }
    
    @include breakpoint(1400px) {
        height: 648px;
    }
}