.ctaButtonSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 37px;

    @include breakpoint($medium) {
        flex-direction: row;
        justify-content: center;
        gap: 17px;
        margin: 87px auto;

        &.ctaButtonSection__top {
            margin-top: -35px;
        }
    }

    &__onsiteH3 {
        font-size: 24px;
        color: #011827;
        font-weight: 700;
    }
    
    &__onlineH3 {
        font-size: 16px;
        color: #36769D;
        font-weight: 700;
        text-decoration: underline;

        @include breakpoint($medium) {
            color:white;
            text-decoration: none;
            font-size: 24px;
        }
    }
    
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 308px;
        height: 66px;
        background-color: #8ACFE5;
        border: 0;
        border-radius: 4px;

        &.ctaButtonSection__onlineButton {
            background-color: white;

            @include breakpoint($medium) {
                background-color: #E3170A;
            }
        }
    }
}