.referenceSection {
    display: flex;
    justify-content: center;
    margin-top: 51px;
    margin-bottom: 105px; 

    &__div {
        display: flex;
        flex-direction: row;
        margin: 0px 21px;

        &.referenceSection__secondReference {
            display: none;

            @include breakpoint($medium) {
                display: flex;
            }
        }
    }
    
    &__portrait {
        width: 73px;
        height: 73px;
        border-radius: 50px;
    }
    
    &__text {
        max-width: 420px;
        margin-left: 22px;
    }
    
    &__h3 {
        font-size: 24px;
        font-style: italic;
        font-weight: 400;
    }
    
    &__p {
        font-size: 18px;
        font-weight: 400;
        margin-top: 5px;

        @include breakpoint($medium) {
            margin-top: 18px;
            width: 285px;;
        }
    }
}