@import 'mixinsAndVariables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

html {
    overflow-x: hidden; 
}

@import 'headerAndHero';
@import 'main__ctaButtonSection';
@import 'main__referenceSection';
@import 'main__recommendedChallenges';
@import 'main__story';
@import 'main__features';
@import 'footer';
